@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');



#refresh_btn::before {
    content: "⟳"; /* or any Unicode char */
    font-size: 16px;
    color: #9ca3af;
    margin-right: 6px;
}

#collection_selector_top {
    padding-left: 12px;
    padding-right: 12px;
}

.dropdown_column {
    gap: 0px;
    display: flex;
    flex-direction: column;
}

#bottom_md {
    margin-top: auto; /* remove default margin */
}

#ask_btn {
    margin-top: 38px;
}

#filter_update_btn {
    padding: 4px 0px;
    margin-top: 4px;
}

.filter_label {
    margin-left: 12px;
    margin-bottom: 0px;
}

.gradio-container {
    max-width: 900px;
    margin: 0 auto; /* center horizontally */
}

.vector-dropdown select {
    font-size: 5px !important;
}

.vector-dropdown select option {
    font-size: 5px !important;
}